.logo{
    display: block;
    padding: 8px 0;

    img{
        display: block;
        margin: 8px auto;
        width: 154px;
        height: auto;
    }

}
.login {
    
    display: grid;
    width: 470px;
    left: 312px;
    top: 208px;
    height: 200px;
    input {
        margin-bottom: 20px;
        padding: 10px 20px;
        border-radius: 11px;   
    }
    button {
        padding: 10px 15px;
        width: 103px;
        border-radius: 10px;
        background-color: #6115a8;
        color: aliceblue;
        &:hover{
            background-color: #7319c7;
        }
    }
    
    img {
        position: relative;
        width: 100%;
        top: -305px;
        left: 527px;
    }
    .con-log {
        position: relative;
        margin-top: -451px;
        height: 30px;
        font-size: 14px;
    }
    p.error {
        margin-top: -400px;
        height: 30px;
        background-color: rgb(132 200 163 / 30%);
        border-radius: 10px;
        font-size: 12px;
        text-align: center;
        align-items: center;
        display: grid;
    }
    .con-icon {
        position: relative;
        top: -37px;
        float: inline-end;
        left: -11px;
        
    }
    .pass_reset{
        margin-top: -426px;
        height: 30px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .login{
        width: 352px;
        left: -25px;
        top: 140px;
        img{
            top: 123px;
            left: 0px;
        }
        .pass_reset{
            position: relative;
            top: 100px;
        }
        .con-log{
            top: 156px;
        }
    }
}